html {
    display: block;
    width: max-content;
    font-family: "Fira Code", "Roboto";
    padding: 0;
    margin: 0 auto;
    font-size: 22px;
}
body {
    min-height: 100vh;
    width: 97vw;
    padding: 0;
    margin: 0 auto;
    background-color: #16161a;
    color: #94a1b2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 9vh auto;
    align-items: start;
}
#navbar {
    height: 85%;
    position: static;
    background-color: #72757e;
    color: #fffffe;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-family: "Roboto", "Fira Code";
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    text-decoration: none;
}
#navbar div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar div:hover {
    transition: all 0.5s ease;
    color: #000000;
}
#aboutmelink {
    border-radius: 0 0 0 10px;
}
#contactlink {
    border-radius: 0 0 10px 0;
}
.activelink {
    background-color: #7f5af0;
    color: #000000;
}
section {
    margin-top: 7vh;
    min-width: 80vw;
    transition-property: opacity;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    grid-row-start: 2;
    grid-column-start: 1;
    opacity: 0;
}

#aboutme {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-align: left;
    justify-content: space-evenly;
    opacity: 1;
    color: #94a1b2;
}
#myinfo {
    padding: 0 20px;
    max-width: 30vw;
}
#name {
    font-family: "Roboto", "Fira Code";
    color: #fffffe;
    font-size: 1.6rem;
    margin: -4px 0 10px 0;
}
#myphoto {
    aspect-ratio: initial;
    height: 45vh;
    max-height: 500px;
    border-radius: 10px;
}
#cvitae {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vh;
}
.icon {
    height: 5rem;
    margin: 2vh 8vw;
}

.title {
    color: #fffffe;
    font-family: "Fira Code", "Roboto";
    font-weight: 500;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 7vh;
}
.title p {
    margin: -2rem 0;
}
.subtitle {
    font-size: 0.65rem;
    color: #94a1b2;
    margin-left: 2vw;
}

.box {
    border-radius: 10px;
    padding: 20px;
    background: #242629;
}

.box:hover{
    transform: scale(1.25);
    transition: transform .5s ease-out;
}
.shadow-right {
    box-shadow: 5px 5px 19px #1f2023, -5px -5px 19px #292c2f;
}
.shadow-left {
    box-shadow: -5px 5px 19px #1f2023, 5px -5px 19px #292c2f;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
    color: #fffffe;
}

.date {
    text-decoration: wavy;
    font-size: 0.5rem;
    color: #94a1b2;
}
ul.subtitle {
    padding: 0;
    list-style-type: disc;
}
.certifies {
    list-style-type: circle;
    margin-left: 1vw;
}

.certlogo {
    vertical-align: middle;
    height: 1.5rem;
}
.skillsbox{
    display: flex;
    flex-wrap: wrap;

}
.skillsbox span{
    margin: 10px 5px;
    width: 30%;
    color: #fffffe;
}
.linksgroup{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    width: 50%;
    margin-left: 34%;
}

.link{
    margin: 10vh 0;
    width: 50%;
}
.link a{
    text-decoration: none;
    color: #7f5af0;
}
.link:hover{
    color: white;
    font-size: 1.3rem;
    transition: color .5s ease-in-out;
    transition: font-size .5s ease-in-out;
}
.link:hover img{
    transform: scale(1.5);
    transition: transform .5s ease-in-out;
}
.linkicon{
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    vertical-align: middle;
    margin-right: 20px;
}
.purple{
    filter: invert(32%) sepia(81%) saturate(1869%) hue-rotate(238deg) brightness(98%) contrast(91%);
}
#gif{
    margin: auto;
    width: 250px;
}

@media (max-width: 800px) {
    html {
        font-size: 3vw;
    }
    #aboutme {
        flex-direction: column;
    }
    #myphoto {
        margin-top: 10vw;
    }
    #myinfo {
        max-width: 90vw;
    }
    #navbar {
        height: 125%;
    }
    .box:hover{
        transition: none;
        transform: none;
    }
    .linksgroup{
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }
    .link{
        margin: 5vh 0;
        width: 100%;
    }
    .skillsbox span{
        width: 40%;
    }
}
