html {
    display: block;
    width: max-content;
    font-family: "Sanchez", "Roboto";
    padding: 0;
    margin: 0 auto;
    font-size: 22px;
}
body {
    min-height: 100vh;
    width: 97vw;
    padding: 0;
    margin: 0 auto;
    background-color: #004643;
    color: #abd1c6;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 9vh auto;
    align-items: start;
}
#navbar {
    width: 100%;
    min-height: 5vh;
    max-height: 9vh;
    position: static;
    background-color: #abd1c6;
    color: #2b2c34;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    font-family: "Mukta Vaani", "Sanchez";
    border-radius: 0px 0px 10px 10px;
}

#navbar {
    color: #001e1d;
    text-decoration: none;
}

#navbar a:hover {
    transition: all 0.5s ease;
    color: #fba72a;
}
#aboutmelink {
    color: #fba72a;
}
section {
    margin-top: 3vh;
    min-width: 80vw;
    transition-property: opacity;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    grid-row-start: 2;
    grid-column-start: 1;
    opacity: 0;
}

#aboutme {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    text-align: left;
    justify-content: space-evenly;
    opacity: 1;
    color: #abd1c6;
}

#myinfo {
    padding: 0 20px;
    max-width: 30vw;
}

#name {
    font-family: "Mukta Vaani", "Sanchez";
    color: #fffffe;
    font-size: 1.6rem;
    margin: -4px 0 10px 0;
}
#myphoto {
    aspect-ratio: initial;
    height: 45vh;
    max-height: 500px;
    border-radius: 16px;
}

#cvitae {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 2vh 0;
}
.icon {
    height: 6rem;
    width: 4rem;
    margin: 0px 8vw;
    filter: invert(80%) sepia(12%) saturate(455%) hue-rotate(112deg) brightness(102%) contrast(85%);
}

.title{
    color: #fffffe;
    font-family: "Mukta Vaani", "Sanchez";
    font-weight: 500;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 7vh;
}
.title p{
    margin: -2rem 0;
}
.subtitle {
    font-size: 0.65rem;
    color: #abd1c6;
}

.box {
    border-radius: 10px;
    padding: 20px;
    background: #004643;
    
}
.shadow-right{
    box-shadow: 13px 13px 34px #002c2a, -13px -13px 34px #00605c;
}
.shadow-left{
    box-shadow: -13px 13px 34px #002c2a, 13px -13px 34px #00605c;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #fffffe;
}
